.LogoContainer{
    width: 200px;
    height: 150px;
    
}
.foodHub{
   padding-left: 250px;
   margin-top: 20px;
}
.Header{
    display: flex;
    justify-content: space-between;
    text-justify: auto;
    border: 2px solid black;
    background-color: #ccc;
}
#h3{
    padding-left: 60px;
}
.Nav-items > ul{
    display: flex;
    padding : 10px 50px;
    list-style-type: none;
}
.Nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.Nav-items > ul> li:hover{
    cursor : pointer;
}
.search {
    text-align: center;
    margin: 20px 0;
  }
  
  .search-input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

 .Restra-Cards{
    width : 310px;
    background-color: #e6e6e6; 
    border: 1px solid;
    margin: 10px;
    
 }
.Restra-Cards:hover{
    border: 2px solid black;
    cursor: pointer;
}
 .LogoIn{
    width: 100%;
 }
 #downtag{
    padding-top: 10px;
    padding-left: 10px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 #downtag > li {
    padding-top: 10px;
    padding-left: 50px;
 }
 #k1{
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:lightsalmon;
    padding-left: 120px;
    padding-bottom: 5px;
 }
 .Restaurant_CARD{
    display: flex;
    flex-wrap: wrap;
 }
 .DivbuttonFeature{
    margin:10px;
    text-align: center;
    
 }
 .buttonFeature{
    cursor: pointer;
    width: 18%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
 }
 .shimmer, .shimmer2 {
   width: 250px;
   height: 350px;
   background: linear-gradient(to left, #e6e6e6 0%, #f2f2f2 50%, #e6e6e6 100%);
   background-size: 200% 100%;
   animation: shimmer 0.5s infinite linear;
   margin: 10px;
}

 .shimmer-container{
   height: fit-content;
   display: flex;
   flex-wrap: wrap;
  
 }
 .button{
   width: 100px;
   cursor: pointer;
 }
 .LinkTag{
   text-decoration-line: none;
   color: black;
 }
 @keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: 200px 0;
    }
}
